/obj
/Temp
/UserSettings
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/AudioKit.csproj
/Doppelganger.sln
/DOTween.Modules.csproj
/QFramework.CoreKit.csproj
/QFramework.csproj
/ResKit.csproj
/ResKit.Editor.csproj
/SupportOldQF.csproj
/UIKit.csproj
/UIKit.Editor.csproj
/Unity.AssetBundleBrowser.Editor.csproj
/.idea
/.plastic
/.vs
/Library
/Logs
/Assembly-CSharp-firstpass.csproj
/ignore.conf
/Doppelganger.sln.DotSettings.user
